
<div class='photo_title'>
  <b><%= photo.title %></b>
</div>

<div>
  <% if photo.image != "" %>
    <%= image_tag photo.image, class: 'photo_image' %>
  <% end %>
</div>

<div class='photo_tags'><b>Tags:</b>
  <%= photo.tag_list %>
</div>

<div>
  <b>Member of galleries:</b>
  <% photo.galleries.each do |gallery| %>
    <%= gallery.name %>
  <% end %>
</div>