// Place all the styles related to the Gallaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallary_photo_ids {
  width: 450px;
}