
.page_header {
  background-color:black;
  color:white;
  height:20px;
  padding:5px;
}

.page_header_title {
  font-size:200%;
  font-weight:bold;
  float:left;
}

.header_nav_links {
  float:left;
  margin-left:20px
}

.header_nav_links :link {color:white;}
.header_nav_links :visited {color:white;}
.header_nav_links :hover {color:grey;}
.header_nav_links :active {color:grey;}

.search_container {
  color:white;
  float:right;
}