// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo_tag_list {
  width: 450px;
}

.large_photo_container {
}

.large_photo_title {
  text-align:center;
  font-weight:normal;
  font-size:x-large;
}

.large_photo_image {
  margin:5px;
  max-height:80%;
  max-width:100%;
}