// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo_tag_list {
  width: 450px;
}

.large_photo_container {
}

.large_photo_title {
  text-align:left;
  font-weight:normal;
  font-size:x-large;
  margin-left:5px;
  margin-bottom:10px;
}

.large_photo_image {
  margin:5px;
  max-height:70%;
  max-width:100%;
}

.photo_edit_form_title {
  font-size:150%;
}

.photo_edit_form_title input[type='text']{
  font-size:125%;
}

.photo_edit_form_tags {
  font-size:150%;
}

.photo_edit_form_tags input{
  font-size:125%;
}